body {
    display: grid;
    justify-content: center;
    grid-template-rows: 100px 400px 100px;
    grid-template-columns: 300px 300px 300px
}

.container {
    grid-column: 2;
    /* justify-content: space-evenly; */
    justify-content: center;
  
    /* text-align: center; */
}
.container__nav{
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

a:link {
    color: black;
    text-decoration: none;
}

a:link :visited {
    color: black;
}

a:active {
    color: rgb(114, 114, 126);
}

a:hover {
    color: purple;

}

.container__main {
    text-align: center;
    grid-column: 2;
    grid-row: 2;
}

.container__main__macarons {
    text-align: center;
    grid-column: 1;
    grid-row: 2;
}
.container__main__multiplier{
  text-align: center;
  grid-column: 3;
  grid-row: 2;
}




.container__main__menu{
  text-align: center;
}

footer {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
}

.resetButton {
    padding: 0;
    border: none;
    /* border-style: solid;
    border-radius: 25px; */
    background: none;
    height: px;
    width: auto;
    font-size: 25px;
}
