.container {
  display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    margin: 0px;
    width: 100%;
    height: 100vh;
    
}
/* .header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.footer { grid-area: footer; } */

/* .container {
  display: grid;
  grid-template:
    'header header header'
    'menu main main'
    'menu footer footer';
  grid-gap: 10px;
  padding: 10px */

.container__nav{
    display: flex;
    flex-direction: row;
    padding: 2.3em 0;
    justify-content: center;
    justify-content: space-evenly;
    background-color:transparent;
    width: 100%;
    position: fixed;
    height:0px;
    top: 0;
    font-size: x-large;
    font-family: c

}
a:link{
  color: green;
}
a:active{
  color:rgb(114, 114, 126);
}
a:hover{
  color:purple;
}

.container__main {
display: grid;
grid-template-columns: auto auto auto;
grid-row-start: 2;
width: 120px;
height: 100%;
}
.container__main__menu{
  background-color: gray;
}
.container__main__macarons{
  background-color: royalblue;

}
.container__footer__reset{
  display: flex;
  flex-direction: row;
  /* border-bottom: 1px solid white; */
  /* padding: 2.3em 0; */
  justify-content: center;
  justify-content: space-evenly;
  background-color:yellow;
  width: 100%;
  position: fixed;
  height: 0px;
  bottom: 0;
  
}
/* header ul{
    display: inline-block;
    padding: 0 1.4em 0;
    font-size: 1.5em;
} */


    

